<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestApp">
        <activity android:name=".AddReminderActivity"
            android:label="@string/title_activity_add_reminder"
            android:parentActivityName=".MainActivityReminder"
            android:theme="@style/Theme.AppCompat.Light">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivityReminder"
                />
        </activity>
        <provider
            android:name=".data.AlarmReminderProvider"
            android:authorities="com.example.testapp"
            android:exported="false" />

        <service
            android:name=".rem.ReminderAlarmService"
            android:exported="false" />

        <activity android:name=".MainActivityReminder"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Search" />
        <activity android:name=".VerifyPhone" />
        <activity
            android:name=".NewItemOthersGroceries"
            android:parentActivityName=".Others_Groceries" />
        <activity
            android:name=".NewItemUtensils"
            android:parentActivityName=".Utensils" />
        <activity
            android:name=".NewItemCleaning"
            android:parentActivityName=".Cleaning" />
        <activity
            android:name=".NewItemBabycare"
            android:parentActivityName=".Babycare" />
        <activity
            android:name=".NewItemCosmetics"
            android:parentActivityName=".Cosmetics" />
        <activity
            android:name=".NewItemFood"
            android:parentActivityName=".Food" />
        <activity
            android:name=".Utensils"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".Others_Groceries"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".Cleaning"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".Babycare"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".Cosmetics"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".Food"
            android:parentActivityName=".Groceries" />
        <activity
            android:name=".NewItemOthers"
            android:parentActivityName=".Others" />
        <activity
            android:name=".NewItemStationery"
            android:parentActivityName=".Stationery" />
        <activity
            android:name=".NewItemAppliance"
            android:parentActivityName=".Appliances" />
        <activity
            android:name=".NewItemFurniture"
            android:parentActivityName=".Furniture" />
        <activity
            android:name=".Stationery"
            android:parentActivityName=".Inventory" />
        <activity
            android:name=".Appliances"
            android:parentActivityName=".Inventory" />
        <activity
            android:name=".Groceries"
            android:parentActivityName=".Inventory" />
        <activity android:name=".Inventory"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Furniture"
            android:parentActivityName=".Inventory" />
        <activity
            android:name=".Others"
            android:parentActivityName=".Inventory" />
        <activity android:name=".login_activity" />
        <activity android:name=".Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>